<!-- <section>
  <h3>Interpolação</h3>
  <hr/>
  <p>{{naruto}}</p>
  <p>Seja bem vindo, {{naruto}}</p>
  <p>{{naruto | uppercase}}</p> <!-- tipo de pipe -->

  <!-- <p>Soma de 1 + 1 é {{1+1}} </p>
  <p>Seu sobrenome é {{'Uzumaki'}}</p>
  <p>Você nasceu em: {{calculaAnoNascimento()}}</p>
</section>
<section>
  <h3>Event Binding</h3>
  <hr/>  -->

  <!-- <img
  src="{{linkImagem}}"
  height="{{alturaImagem}}"
  width="{{larguraImagem}}" alt=""
  > -->

  <!-- Property Binding -->
  <!-- Valor nas propriedades que vem do app.component.ts  -->
  <!-- <img
  [src]="linkImagem"
  [height]="alturaImagem"
  [width]="larguraImagem" alt=""
  >

  <p>{{alturaImagem}} x {{larguraImagem}}</p> -->
  <!-- Event Binding -->
  <!-- <button (click)="aumentar()">Aumentar</button>
  <button (click)="diminuir()">Diminuir</button>
</section>

<hr/> -->

<!-- Exercício um - slide -->

<app-exercicio-um></app-exercicio-um>

<app-data-binding></app-data-binding>

<app-exercio-dois></app-exercio-dois>
